<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat"
        tools:targetApi="31">
        <activity
            android:name=".user.UserLoginActivity"
            android:exported="false" />
        <activity
            android:name=".provider.ProviderBookingsAdapter"
            android:exported="false" />
        <activity
            android:name=".user.OngoingServicesActivity"
            android:exported="false" />
        <activity
            android:name=".user.AllServicesActivity"
            android:exported="false" />
        <activity
            android:name=".GetStarted"
            android:exported="false" />
        <activity
            android:name=".ServiceLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".user.UserMainActivity"
            android:exported="false" />
        <activity
            android:name=".provider.ProviderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".user.UserSignUpActivity"
            android:exported="false" />
        <activity
            android:name=".provider.ProviderMainActivity"
            android:exported="false" />
        <activity
            android:name=".provider.ProviderOtpActivity"
            android:exported="false" />
        <activity
            android:name=".provider.ProviderSignupActivity"
            android:exported="false" />
        <activity
            android:name=".user.UserDetailActivity"
            android:exported="false" />
        <activity
            android:name=".user.UserOTPActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>